<section class="auth">
  <div class="container">
    <div class="row text-center vh-100 justify-content-center align-items-center">
      <div class="col-md-10">
        <div class="auth-card ">
          <div class="w-50 m-auto">
            <img src="../../assets/images/logo.svg" class="w-75" alt="" />
          </div>
          <div class="content">
            <h1>Rest Your Password</h1>
            <p>please provide the email address that you used when you signed up for your account</p>
          </div>
          <div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
              <div class="container ">
                <!--? Email  -->
                <mat-form-field class="w-75 mb-4" appearance="fill">
                  <mat-label class="lable">
                    <mat-icon class="mat-18">
                      <span class="material-symbols-outlined"> mail</span>
                    </mat-icon>
                    E-mail
                  </mat-label>
                  <input matInput formControlName="email" type="email" class="inp text-dark"
                    placeholder="Enter your E-mail">
                  <mat-error
                    *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.hasError('required')">
                    <span style="font-size: 13px;">
                      *Email is required
                    </span>
                  </mat-error>
                  <mat-error class=" text-danger" *ngIf="resetPasswordForm.get('email')?.getError('pattern')">
                    <span style="font-size: 13px;">
                      *Invalid email
                    </span>
                  </mat-error>
                </mat-form-field>
                <!--? OTP Verification  -->
                <mat-form-field class="w-75 mb-4">
                  <mat-label class="lable">
                    <mat-icon class="mat-18">
                      <span class="material-symbols-outlined"> password</span>
                    </mat-icon>
                    OTP
                  </mat-label>
                  <input formControlName="seed" type="text" matInput placeholder="Enter OTP Code"
                    class="inp  text-dark">
                  <mat-error
                    *ngIf="resetPasswordForm.get('seed')?.touched && resetPasswordForm.get('seed')?.hasError('required')">
                    <span style="font-size: 13px;">
                      *Please provide the OTP (One-Time Password) received in your email to proceed
                    </span>
                  </mat-error>
                  <mat-error *ngIf="resetPasswordForm.get('seed')?.getError('pattern')">
                    <span style="font-size: 13px;">
                      * The OTP should consist of exactly 4 characters. Please check and try again.
                    </span>
                  </mat-error>
                </mat-form-field>
                <!--? password  -->
                <mat-form-field class="w-75 mb-4">
                  <mat-label class="lable">
                    <mat-icon class="mat-18">
                      <span class="material-symbols-outlined">
                        lock
                      </span>
                    </mat-icon>
                    New Password
                  </mat-label>
                  <input formControlName="password" class="inp text-success" matInput placeholder="Enter New password"
                    [type]="hidePaasword ? 'text' : 'password'">
                  <button type="button" mat-icon-button matSuffix (click)="hidePaasword = !hidePaasword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePaasword">
                    <mat-icon class="text-success">{{hidePaasword ? 'visibility_off' :
                      'visibility'}}
                    </mat-icon>
                  </button>
                  <mat-error
                    *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.hasError('required') ">
                    <span style="font-size: 13px;">
                      *Password iS required
                    </span>
                  </mat-error>
                  <mat-error *ngIf="resetPasswordForm.get('password')?.getError('pattern')" class="">
                    <span style="font-size: 13px;">
                      * password must contain 8 characters,must at least one capital,at least one lower letter,
                      must contain a number and must contain one special character
                    </span>
                  </mat-error>
                </mat-form-field>
                <!--? confirmNewPassword  -->
                <mat-form-field class="w-75 mb-4">
                  <mat-label class="lable">
                    <mat-icon class="mat-18">
                      <span class="material-symbols-outlined">
                        lock
                      </span>
                    </mat-icon>
                    Confirm New Password
                  </mat-label>
                  <input formControlName="confirmPassword" placeholder="Enter Confirm New Password"
                    class=" text-success" matInput [type]="hideCOMFPaasword ? 'text' : 'password'">
                  <mat-error
                    *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.hasError('required') ">
                    <span style="font-size: 13px;">
                      *confirmPassword iS required
                    </span>
                  </mat-error>
                  <mat-error
                    *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.getError('passwordMisMatch') ">
                    <span style="font-size: 13px;">
                      *Password not match
                    </span>
                  </mat-error>

                  <button type="button" mat-icon-button matSuffix (click)="hideCOMFPaasword = !hideCOMFPaasword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCOMFPaasword">
                    <mat-icon class="text-success">{{hideCOMFPaasword ? 'visibility_off' :
                      'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <!--  disabled="resetPasswordForm.Invalid" -->
              <button type=" submit" class="ver-btn w-50  btn btn-outline-success  d-block mx-auto py-2">Rest
                Password
                <i *ngIf="isloading" class="fa-solid fa-spinner fa-spin"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>