.auth {
     background-image: url(../../../../assets/images/auth.png);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
}

.icon {
     right: 16px;
     top: 7px;
}

.imgUpload {
     width: 154px;
     height: 149px;
     border-radius: 50%;
     margin-bottom: 1rem;
}