<section class="auth overflow-hidden">
	<div class="container">
		<div class="row  justify-content-center align-items-center">
			<div class="col-md-8">
				<div class="auth-card position-relative">
					<div class="w-50 m-auto">
						<img src="../../../../assets/images/logo.svg" class="w-75" alt="" />
					</div>
					<h1>reister</h1>
					<p>Welcome Back! Please enter your details</p>
					<button type="button" class="text-white btn-outline-danger bg-success py-1 px-2"
						(click)="toggleRegister = !toggleRegister">
						<i class="fa fa-user text-white" *ngIf="!toggleRegister"></i>
						<i class="fa fa-user-shield text-white" *ngIf="toggleRegister"></i>
						{{!toggleRegister ? 'Create User' : ' Create Admin' }} </button>



					<!-- TODO Start User Form -->
					<form class="w-100 px-5" [formGroup]="userRegisterForm" (ngSubmit)="userSubmitRegister(userRegisterForm)"
						[class]="toggleRegister ? 'translate-registrationForm' : ''">
						<!-- *! Start Ngx-dropzone for image -->
						<div class="d-flex justify-content-center align-items-center  m-auto center w-25  rounded rounded-1"
							style="border: 1px dotted seagreen;">
							<ng-container *ngIf="imageUploaded">
								<div class="edit ">
									<ngx-file-drop dropZoneClassName="" [multiple]="false" dropZoneLabel="Drop files here"
										(onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
										<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
											<div>
												<button type="button" (click)="openFileSelector()" class="iconEdit">
													<i class="fa-solid fa-pen   "></i>
												</button>
											</div>
										</ng-template>
									</ngx-file-drop>
								</div>
							</ng-container>
							<ngx-file-drop dropZoneClassName="drop-zone" *ngIf="!imageUploaded " [multiple]="false"
								dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
								(onFileLeave)="fileLeave($event)">
								<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
									<div>
										<button type="button" (click)="openFileSelector()"
											class="bg-transparent d-flex flex-column align-items-center">
											<i class="fa-solid fa-upload fs-4 mb-2 text-success"></i>
											<span class=" upload text-dark">
												Upload your profile image</span>
										</button>
									</div>
								</ng-template>
							</ngx-file-drop>

							<div *ngIf="imageUploaded" class="drop-zone">
								<img [src]="imageUrl" class="w-100 img-fluid photo" alt="Uploaded Image">
							</div>
						</div>
						<!-- *! End Ngx-dropzone for image -->

						<div class="row  w-100 mt-3">
							<!--? userName  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">User Name</mat-label>
									<input formControlName="userName" type="text" placeholder="Enter your name" class="inp text-success"
										matInput>
									<mat-error>Name is require</mat-error>
								</mat-form-field>
							</div>
							<!--? Email  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">E-mail</mat-label>
									<input [(ngModel)]="email" formControlName="email" type="email" placeholder="Enter your E-mail"
										class="inp text-success" matInput>
									<mat-error
										*ngIf="userRegisterForm.get('email')?.getError('required')&&(userRegisterForm.get('email')?.value!=''||userRegisterForm.get('email')?.touched||userRegisterForm.invalid)">Email
										is required
									</mat-error>
									<mat-error *ngIf="userRegisterForm.get('email')?.getError('email')">Email
										is
										not
										Valid
									</mat-error>
								</mat-form-field>
							</div>

							<!--? country -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">Country</mat-label>
									<input formControlName="country" type="text" placeholder="Enter your country" class="inp text-success"
										matInput>
									<mat-error>Country name is required</mat-error>
								</mat-form-field>
							</div>
							<!--? phone  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">Phone Number</mat-label>
									<input formControlName="phoneNumber" type="tel" placeholder="Enter your phone number"
										class="inp text-success" matInput>
									<mat-error
										*ngIf="userRegisterForm.get('phoneNumber')?.getError('required')&&(userRegisterForm.get('phoneNumber')?.value!=''||userRegisterForm.get('phoneNumber')?.touched||userRegisterForm.invalid)">Phone
										is required
									</mat-error>
									<mat-error *ngIf="userRegisterForm.get('phoneNumber')?.getError('pattern')">Number
										is
										invalid
									</mat-error>
								</mat-form-field>
							</div>
							<!--? password  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100 mb-2">
									<mat-label class="lable">Password</mat-label>
									<input formControlName="password" class="inp text-dark" matInput placeholder="Enter your password"
										[type]="hidePaasword ? 'password' : 'text'">
									<button type="button" mat-icon-button matSuffix (click)="hidePaasword = !hidePaasword"
										[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePaasword">
										<mat-icon class="text-success">{{hidePaasword ? 'visibility_off' :
											'visibility'}}</mat-icon>
									</button>
									<mat-error
										*ngIf="userRegisterForm.get('password')?.errors !== null && userRegisterForm.get('password')?.errors?.['required']">Password
										is required
									</mat-error>
									<mat-error
										*ngIf="userRegisterForm.get('password')?.errors !== null && userRegisterForm.get('password')?.errors?.['pattern'] && userRegisterForm.get('password')?.value !== localPss">Entet
										password vaild
									</mat-error>
								</mat-form-field>
							</div>
							<!--? confirmPassword  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">Confirm Password</mat-label>
									<input formControlName="confirmPassword" placeholder="Confirm New Password" class=" text-success"
										matInput [type]="hideCOMFPaasword ? 'password' : 'text'">
									<button type="button" mat-icon-button matSuffix (click)="hideCOMFPaasword = !hideCOMFPaasword"
										[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCOMFPaasword">
										<mat-icon class="text-success">{{hideCOMFPaasword ? 'visibility_off' :
											'visibility'}}</mat-icon>
									</button>
									<mat-error
										*ngIf="userRegisterForm.get('confirmPassword')?.getError('required')&&(userRegisterForm.get('confirmPassword')?.value!=''||userRegisterForm.get('confirmPassword')?.touched||userRegisterForm.invalid)">confirmPassword
										is required
									</mat-error>
									<mat-error
										*ngIf=" userRegisterForm.get('confirmPassword')?.touched && userRegisterForm.get('confirmPassword')?.getError('passwordMisMatch') ">Password
										not match
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="d-flex justify-content-between container-fluid">
							<a class="text-decoration-none text-dark cursor-pointer">you have an account?
								<span routerLink="/auth" class="text-success cp">Sign in</span></a>
							<a class="text-decoration-none text-success cursor-pointer btn"
								(click)="openDialog('00ms','350ms','')">Verify
								Now</a>
						</div>
						<button [disabled]="userRegisterForm.invalid"
							class="reg-btn w-50 btn btn-success rounded-pill text-white d-block mx-auto py-2 mt-4">register
							<i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin-pulse"></i>
						</button>
					</form>

					<!-- TODO End User Form -->


					<!-- ?Start Admin Form -->
					<form [formGroup]="adminRegisterForm" (ngSubmit)="adminSubmitRegister(adminRegisterForm)"
						class="w-100 adminForm position-absolute px-5" [class]="toggleRegister ? '' : 'translate-adminForm'">
						<!-- *! Start Ngx-dropzone for image -->
						<div class="d-flex justify-content-center align-items-center  m-auto center w-25  rounded rounded-1"
							style="border: 1px dotted seagreen;">
							<ng-container *ngIf="imageUploaded">
								<div class="edit ">
									<ngx-file-drop dropZoneClassName="" [multiple]="false" dropZoneLabel="Drop files here"
										(onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
										<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
											<div>
												<button type="button" (click)="openFileSelector()" class="iconEdit">
													<i class="fa-solid fa-pen   "></i>
												</button>
											</div>
										</ng-template>
									</ngx-file-drop>
								</div>
							</ng-container>
							<ngx-file-drop dropZoneClassName="drop-zone" *ngIf="!imageUploaded " [multiple]="false"
								dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
								(onFileLeave)="fileLeave($event)">
								<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
									<div>
										<button type="button" (click)="openFileSelector()"
											class="bg-transparent d-flex flex-column align-items-center">
											<i class="fa-solid fa-upload fs-4 mb-2 text-success"></i>
											<span class=" upload text-dark">
												Upload your profile image</span>
										</button>
									</div>
								</ng-template>
							</ngx-file-drop>

							<div *ngIf="imageUploaded" class="drop-zone">
								<img [src]="imageUrl" class="w-100 img-fluid photo" alt="Uploaded Image">
							</div>
						</div>
						<!-- *! End Ngx-dropzone for image -->

						<div class="row  mt-3">
							<!--? userName  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">User Name</mat-label>
									<input formControlName="userName" type="text" placeholder="Enter your name" class="inp text-success"
										matInput>
									<mat-error>Name is require</mat-error>
								</mat-form-field>
							</div>
							<!--? Email  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">E-mail</mat-label>
									<input [(ngModel)]="email" formControlName="email" type="email" placeholder="Enter your E-mail"
										class="inp text-success" matInput>
									<mat-error
										*ngIf="adminRegisterForm.get('email')?.getError('required')&&(adminRegisterForm.get('email')?.value!=''||adminRegisterForm.get('email')?.touched||adminRegisterForm.invalid)">Email
										is required
									</mat-error>
									<mat-error *ngIf="adminRegisterForm.get('email')?.getError('email')">Email
										is
										not
										Valid
									</mat-error>
								</mat-form-field>
							</div>
							<!--? country -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">Country</mat-label>
									<input formControlName="country" type="text" placeholder="Enter your country" class="inp text-success"
										matInput>
									<mat-error>Country name is required</mat-error>
								</mat-form-field>
							</div>
							<!--? phone  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">Phone Number</mat-label>
									<input formControlName="phoneNumber" type="tel" placeholder="Enter your phone number"
										class="inp text-success" matInput>
									<mat-error
										*ngIf="adminRegisterForm.get('phoneNumber')?.getError('required')&&(adminRegisterForm.get('phoneNumber')?.value!=''||adminRegisterForm.get('phoneNumber')?.touched||adminRegisterForm.invalid)">Phone
										is required
									</mat-error>
									<mat-error *ngIf="adminRegisterForm.get('phoneNumber')?.getError('pattern')">Number
										is
										invalid
									</mat-error>
								</mat-form-field>
							</div>
							<!--? password  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100 mb-2">
									<mat-label class="lable">Password</mat-label>
									<input formControlName="password" class="inp text-dark" matInput placeholder="Enter your password"
										[type]="hidePaasword ? 'password' : 'text'">
									<button type="button" mat-icon-button matSuffix (click)="hidePaasword = !hidePaasword"
										[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePaasword">
										<mat-icon class="text-success">{{hidePaasword ? 'visibility_off' :
											'visibility'}}</mat-icon>
									</button>
									<mat-error
										*ngIf="adminRegisterForm.get('password')?.errors !== null && adminRegisterForm.get('password')?.errors?.['required']">Password
										is required
									</mat-error>
									<mat-error
										*ngIf="adminRegisterForm.get('password')?.errors !== null && adminRegisterForm.get('password')?.errors?.['pattern'] && adminRegisterForm.get('password')?.value !== localPss">Entet
										password vaild
									</mat-error>
								</mat-form-field>
							</div>

							<!--? confirmPassword  -->
							<div class="col-md-6 col-12">
								<mat-form-field class="w-100">
									<mat-label class="lable">Confirm Password</mat-label>
									<input formControlName="confirmPassword" placeholder="Confirm New Password" class=" text-success"
										matInput [type]="hideCOMFPaasword ? 'password' : 'text'">
									<button type="button" mat-icon-button matSuffix (click)="hideCOMFPaasword = !hideCOMFPaasword"
										[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCOMFPaasword">
										<mat-icon class="text-success">{{hideCOMFPaasword ? 'visibility_off' :
											'visibility'}}</mat-icon>
									</button>
									<mat-error
										*ngIf="adminRegisterForm.get('confirmPassword')?.getError('required')&&(adminRegisterForm.get('confirmPassword')?.value!=''||adminRegisterForm.get('confirmPassword')?.touched||adminRegisterForm.invalid)">confirmPassword
										is required
									</mat-error>
									<mat-error
										*ngIf=" adminRegisterForm.get('confirmPassword')?.touched && adminRegisterForm.get('confirmPassword')?.getError('passwordMatchValidator') ">Password
										not match
									</mat-error>
								</mat-form-field>
							</div>

							<div class="d-flex justify-content-between container-fluid">
								<a class="text-decoration-none text-dark cursor-pointer">you have an account?
									<span routerLink="/auth" class="text-success cp">Sign in</span></a>
								<a class="text-decoration-none text-success cursor-pointer btn"
									(click)="openDialog('00ms','350ms','')">Verify
									Now</a>
							</div>
							<button [disabled]="adminRegisterForm.invalid"
								class="reg-btn w-50 btn btn-success rounded-pill text-white d-block mx-auto py-2 mt-4">register
								<i *ngIf="loading" class="fa-solid fa-spinner fa-spin-pulse"></i>
							</button>
						</div>
					</form>
					<!-- ?End Admin Form -->
				</div>
			</div>
		</div>
	</div>
</section>