<section class="text-capitalize">
 <div class="page-title px-5">
  <div class="container">
   <div class="row justify-content-between align-items-center px-0">
    <div class="d-flex justify-content-between align-items-center px-5 mt-5">
     <h1 class="h4">Fill the <span class="mainColor">Recipes</span> !</h1>
     <button class="btn- primary px-5" routerLink="/dashboard/admin/recipes/add-edit-recipe"><i
       class="fa-solid fa-arrow-left text-dark me-2"></i>all recipes </button>
    </div>
    <p class="px-5">you can now fill the meals easily using the table and form ,
     <br> click here and sill it with the table !
    </p>
   </div>
  </div>
 </div>


 <form [formGroup]="recipeForm" (ngSubmit)="addNewRecipe(recipeForm)">
  <div class="container px-5 py-5">
   <div class="row">
    <div class="col-md-10 mx-auto">
     <div class="row">
      <div class="col-md-12">
       <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text py-2" id="addon-wrapping"><i class="fa-solid fa-user"></i></span>
        <input type="text" placeholder="Recipe Name" class="form-control" formControlName="name" />
       </div>
      </div>
      <div class="col-md-12">
       <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text py-2" id="addon-wrapping"><i class="fa-solid fa-sack-dollar"></i></span>
        <input type="text" placeholder="Price" class="form-control" formControlName="price" />
       </div>
      </div>

      <div class="col-md-6 pe-1">
       <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text py-2" id="addon-wrapping"><i class="fa-solid fa-user-tag me-2"></i>All
         Tags</span>
        <select class="form-select border-1 py-1" formControlName="tagId" aria-label="Default select example">
         <option selected disabled onforminput>Select Tags</option>
         <option [value]="tag.id" *ngFor="let tag of Tags" class="py-1">
          {{ tag.name }}
         </option>
        </select>
       </div>
      </div>
      <div class="col-md-6 ps-1">
       <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text py-2" fid="addon-wrapping"><i class="fa-solid fa-table-cells-large me-2"></i> All
         Categories
        </span>
        <select class="form-select border-1 py-1" formControlName="categoriesIds" aria-label="Default select example">
         <option selected disabled onforminput>Select Categories</option>
         <option [value]="category.id" *ngFor="let category of Gategories" class="py-1">
          {{ category.name }}
         </option>
        </select>
       </div>
      </div>

      <div class="col-md-12">
       <div class="input-group flex-nowrap mb-3">
        <textarea class="form-control py-2" placeholder="Description" formControlName="description"></textarea>
       </div>
       <div class="col-md-12">
        <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
         <ngx-dropzone-label>Drag and Drop image
          <span class="text-success fw-bold">Choose image </span>to
          upload</ngx-dropzone-label>

         <ngx-dropzone-image-preview [removable]="true" (removed)="onRemove(f)" ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files" [file]="f">
          <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
         </ngx-dropzone-image-preview>
        </ngx-dropzone>
       </div>
       <div class="form-button text-end mt- d-flex justify-content-between align-items-center mt-3 ">
        <button type="button" class="btn btn-outline-danger px-5" routerLink="/dashboard/admin/recipes">
         Cancel
        </button>
        <button type="submit" class="btn btn-success px-5">Save</button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </form>
</section>