<section class="text-capitalize ">
 <div class="page-title px-5">
  <div class="container">
   <div class="row justify-content-between align-items-center px-0">
    <div class="col-md-8">
     <h1 class="userMsM text-white">users
      <span class="userName">List</span>
     </h1>
     <p class="userTitle text-white"> You can now add your items that any user can order it from the Application and you
      can edit
     </p>
    </div>
    <div class="col-md-4 text-end">
     <div class="">
      <img src="../../../assets/images/Group 48102127.svg" class="w-75">
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="">
  <div class=" px-5 mt-5">
   <h1 class="h4 H1Color">users <span class="spanTxt">Table Details</span></h1>
   <p class="">You can check all <span class="H1Color fw-bold">users</span> details</p>
  </div>

  <div>
   <div class="container">
    <div class="row justify-content-between justify-content-center p-5">
     <div class="col-md-6">
      <mat-form-field class="example-form-field" class="w-100" appearance="outline">
       <mat-label>Search Users</mat-label>
       <input matInput type="text" [(ngModel)]="searchValue" (keyup.enter)="getAllUsers()"
        (click)="searchValue=''; getAllUsers()">
       <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
       </button>
      </mat-form-field>
     </div>
     <div class="col-md-3">
      <mat-form-field appearance="outline">
       <mat-label>Search By</mat-label>
       <mat-select [(ngModel)]="pramKey" (selectionChange)="getAllUsers()">
        <!-- <mat-option value="0">All</mat-option> -->
        <mat-option value="userName">Name</mat-option>
        <mat-option value="email">Email</mat-option>
        <mat-option value="country">Country</mat-option>
       </mat-select>
      </mat-form-field>
     </div>
     <div class="col-md-3">
      <mat-form-field appearance="outline">
       <mat-label>Role</mat-label>
       <mat-select multiple [(ngModel)]="roleIds" (selectionChange)="getAllUsers()">
        <mat-option disabled="">All</mat-option>
        <mat-option value="1">Admin</mat-option>
        <mat-option value="2">User</mat-option>
        <!-- <mat-option *ngFor="let tag of Tags" [value]="tag.id">{{tag.name}}</mat-option> -->
       </mat-select>
      </mat-form-field>
     </div>
    </div>
   </div>
  </div>
  <div>
   <div class="table-responsive-sm">
    <div class="">
     <table class="table table-bordered table-striped text-center border border-1  shadow ">
      <thead >
       <th class="border borderp-2  p-3">profile Img</th>
       <th class="border borderp-2  p-3">user name</th>
       <th class="border borderp-2  p-3">email</th>
       <th class="border borderp-2  p-3">phone</th>
       <th class="border borderp-2  p-3">country</th>
       <th class="border borderp-2  p-3">status </th>
       <th> </th>
      </thead>
      <tbody *ngIf="listData.length>0" class="w-25">
       <tr *ngFor="let users of listData">
        <td><img [src]="users?.imagePath? imgUrl + users.imagePath : empImg" alt="" class=" tableImg">
        <td>{{users?.userName}}</td>
        <td>{{users?.email}}</td>
        <td>{{users?.phoneNumber}}</td>
        <td>{{users?.country}}</td>
        <td>{{users?.group?.name}}</td>
        <td>
         <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
         </button>
         <mat-menu #menu="matMenu" class="text-capitalize">
          <button mat-menu-item (click)="openUserDialog(users)">
           <mat-icon>visibility</mat-icon>
           <span>view</span>
          </button>
          <button mat-menu-item class="pointer-event" (click)="opendeleteDialog(users.id)">
           <mat-icon>delete</mat-icon>
           <span>delete</span>
          </button>
         </mat-menu>
        </td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
  </div>
 </div>
</section>