<section class="p-5">
  <div class="row">
    <div class="col-md-12">
      <div class="reset-mail">
        <div class="text-center">
        </div>
        <h2 mat-dialog-title>Change Your Password</h2>
        <p mat-dialog-content>Enter your details below</p>
        <form [formGroup]="changePasswordForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input type="text" class="form-control" placeholder="Old Password " aria-describedby="basic-addon1"
              formControlName="oldPassword" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input type="text" class="form-control" placeholder="New Password " aria-describedby="basic-addon1"
              formControlName="newPassword" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input type="text" class="form-control" placeholder="Confirm New  Password " aria-describedby="basic-addon1"
              formControlName="confirmNewPassword" />
          </div>

          <button class="btn main-bg w-100 btn-outline-danger" (click)="onChangePassword(changePasswordForm.value)">
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</section>