$main-color: #4AA35A;
$dark-color: #3A3A3D;
$white-color: #ffff;

.auth {
     background-image: url(../../assets/images/auth.png);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;

}

.icon {
     right: 17px;
     top: 8px;
}