<section class="auth">
     <div class="container">
          <div class="row vh-100 justify-content-center align-items-center">
               <div class="col-md-10">
                    <div class="auth-card ">
                         <div class="w-50 m-auto text-center">
                              <img src="../../assets/images/logo.svg" class="w-75" alt="" />
                         </div>
                         <div class="text-center">
                              <h1>login</h1>
                              <p>Welcome Back! Please enter your details</p>
                         </div>
                         <form [formGroup]="authForm" (ngSubmit)="submitAuthForm(authForm)" class="text-center">
                              <!--? Email -->
                              <mat-form-field class="w-75 mb-2">
                                   <input formControlName="email" type="email" class="inp text-dark"
                                        placeholder="Enter your E-mail" matInput>
                                   <mat-error
                                        *ngIf="authForm.get('email')?.errors !== null && authForm.get('email')?.errors?.['required']">Email
                                        is required</mat-error>
                                   <mat-error *ngIf="authForm.get('email')?.errors == null">Email
                                        is Vaild
                                   </mat-error>
                              </mat-form-field>

                              <!--? Password -->
                              <mat-form-field class="w-75 mb-2">
                                   <mat-label class="lable">Password</mat-label>
                                   <input formControlName="password" class="inp text-dark" matInput
                                        placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                                   <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="text-white">{{hide ? 'visibility_off' :
                                             'visibility'}}</mat-icon>
                                   </button>
                                   <mat-error
                                        *ngIf="authForm.get('password')?.errors !== null && authForm.get('password')?.errors?.['required']">Password
                                        is required
                                   </mat-error>
                                   <mat-error
                                        *ngIf="authForm.get('password')?.errors !== null && authForm.get('password')?.errors?.['pattern'] && authForm.get('password')?.value !== localPss">Entet
                                        password vaild
                                   </mat-error>
                              </mat-form-field>
                              <div class="links w-75 align-items-center m-auto text-center">
                                   <a routerLink="/auth/register" class="text-success">register now?</a>
                                   <a routerLink="/auth/forgetPassword" class="text-success">forget pasword</a>
                              </div>
                              <button
                                   class="btn log-btn btn-success rounded-pill text-white w-75 py-3 d-block mx-auto mt-5"
                                   [disabled]="authForm.invalid" type="submit">Login
                              </button>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</section>