<section class="auth">
  <div class="container">
    <div class="row text-center  vh-100 justify-content-center align-items-center">
      <div class="col-md-10">
        <div class="auth-card py-5">
          <div class="w-50 m-auto">
            <img src="../../assets/images/logo.svg" class="w-75" alt="" />
          </div>
          <div class="content">
            <h1>Rest Your Password</h1>
            <p>please provide the email address that you used when you signed up for your account</p>
          </div>
          <div class="py-5">
            <form [formGroup]="ForgetPasswordForm" (ngSubmit)="submiteForgetPassword(ForgetPasswordForm)">
              <div class="container">
                <!--? Email -->
                <mat-form-field class="w-75 mb-3">
                  <mat-label class="lable">
                    <mat-icon class="mat-18">
                      <span class="material-symbols-outlined"> mail</span>
                    </mat-icon>
                    E-mail
                  </mat-label>
                  <input formControlName="email" type="email" class="inp text-dark" placeholder="Enter your E-mail"
                    matInput>
                  <mat-error
                    *ngIf="ForgetPasswordForm.get('email')?.touched && ForgetPasswordForm.get('email')?.hasError('required')">*Email
                    is required
                  </mat-error>
                  <mat-error *ngIf="ForgetPasswordForm.get('email')?.getError('pattern')">
                    *Invalid email
                  </mat-error>
                </mat-form-field>
                <div class="py-5">
                  <button class="reg-btn w-75 btn btn-success rounded-pill text-white d-block mx-auto py-2 ">submite
                    <i *ngIf="isloading" class="fa-solid fa-spinner fa-spin-pulse"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>