.sideItems {
        color: #ffff;
        padding: 5px;
        text-decoration: none;
        margin: 5px 0px;
        padding: 5px;
        cursor: pointer;

        span {
                margin: 0px 5px;
        }

}

.active-ul {
        background: #00924e49 !important;
}

.bg-dark-main {
        border-radius: 0px 70px 0px 0px;
}